<!DOCTYPE html>

<head>
    <link href="../stylesheets/blockchain.css" type="text/css" rel="stylesheet" />
</head>

<h2>Blokchain</h2>
<div class="boxes">
    <div class="menu" id="ustMenu">
        <a href="hash.html">Hash</a>
        <a href="blockchain.html">Blockchain</a>
        <a href="block.html">Block</a>
        <a href="distributed.html">Distributed</a>
    </div>

    <div class="box">
        <center>
            <input placeholder="Block">
            <input placeholder="Nonce">
            <input placeholder="Data">
            <input placeholder="Hash">

            <button id="loginButton" onClick="location.href='blockchain.html'">Mine</button>
        </center>
    </div>

    <div class="box">
        <center>
            <input placeholder="Block">
            <input placeholder="Nonce">
            <input placeholder="Data">
            <input placeholder="Hash">

            <button id="loginButton" onClick="location.href='blockchain.html'">Mine</button>
        </center>
    </div>

    <div class="box">
        <center>
            <input placeholder="Block">
            <input placeholder="Nonce">
            <input placeholder="Data">
            <input placeholder="Hash">

            <button id="loginButton" onClick="location.href='blockchain.html'">Mine</button>
        </center>
    </div>


    <div class="box">
        <center>
            <input placeholder="Block">
            <input placeholder="Nonce">
            <input placeholder="Data">
            <input placeholder="Hash">

            <button id="loginButton" onClick="location.href='blockchain.html'">Mine</button>
        </center>
    </div>
</div>