<!DOCTYPE html>

<head>
    <link href="../stylesheets/block.css" type="text/css" rel="stylesheet" />
</head>
<h2>Block</h2>
<div class="menu" id="ustMenu">
    <a href="hash.html">Hash</a>
    <a href="blockchain.html">Blockchain</a>
    <a href="block.html">Block</a>
    <a href="distributed.html">Distributed</a>
</div>
<div class="block-kutu">
    <center>
        <input placeholder="Block">
        <input placeholder="Nonce">
        <input placeholder="Data">
        <input placeholder="Hash">

        <button id="loginButton" onClick="location.href='blockchain.html'">Mine</button>
    </center>
</div>