<!DOCTYPE html>
<html>

<head>
    <link href="../stylesheets/distributed.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <h1>Distributed</h1>
    <div class="menu">
        <a href="hash.html">Hash</a>
        <a href="blockchain.html">Blockchain</a>
        <a href="block.html">Block</a>
        <a href="distributed.html">Distributed</a>
    </div>
    <div class="box">
        <input placeholder="Block" type="text">
        <input placeholder="Nonce" type="text">
        <!-- <input placeholder="Data" type="text"> -->
        <textarea placeholder="Data" id="data"></textarea>
        <input placeholder="Prev" type="text">
        <input placeholder="Hash" type="text">
        <button id="loginButton" onClick="location.href='blockchain.html'">Mine</button>
    </div>
</body>

</html>