<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../stylesheets/hash.css" type="text/css" rel="stylesheet">
</head>

<body>
    <h1>HASH</h1>
    <div class="menu">
        <a href="hash.html">Hash</a>
        <a href="blockchain.html">Blockchain</a>
        <a href="block.html">Block</a>
        <a href="distributed.html">Distributed</a>

    </div>

    <div class="box">
        <center>

            <!-- <input placeholder="Data" type="text" id="data"> -->
            <textarea placeholder="Data" id="data"></textarea>
            <input placeholder="Hash" type="text">

            <button id="loginButton" onclick="location.href=&#39;blockchain.html&#39;">Mine</button>
        </center>
    </div>
</body>

</html>