<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/regPerInfo.css">
    <title>Register</title>
    <script>
    </script>
</head>
<body>
    <div class="main">
        <h1>Informations</h1>
        <!-- <div class="table"> -->
            <form action="/register/createUser" class="register" method="post">
                <input type="text" name="userName" placeholder="UserName"  required>
                <input type="password" name="userPassword" placeholder="Password" required>
                <input type="text" name="firstName" placeholder="FirstName" > 
                <input type="text" name="lastName" placeholder="LastName" > 
                <input type="tel" name="identityNumber" placeholder="Identity Numder">
                <input type="date" name="birthDate" placeholder="Date Of Birth">          
                <input type="text" name="address" placeholder="Adress">       
                
                <button type="submit" class="btnReg">Sign Up</button>
            </form>
        <!-- </div> -->
    </div>
    
</body>
</html>
